@import '../../../../../../style/mixins/index';
@import '../../../../../../style/var';
@import '../var';

$tabs-part_height: $NEAP-tabs__height; //tabs 单个标签页高度

//页面标签选项卡模块 - 常规模式
.ns-page-tabs, .ns-page-tabs__normal {
  display: block;
  height: $NEAP-tabs__height;
  line-height: $NEAP-tabs__height;
  vertical-align: top;
  background-color: $tabs-back;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  @include clearFloat;

  //tabs 单个标签页
  li.tab-tag {
    position: relative;
    display: inline-block;
    width: 120px;
    height: $tabs-part_height;
    line-height: $NEAP-tabs__height;
    top: 0;
    bottom: 0;
    color: #333;
    z-index: 0;
    cursor: pointer;
    box-sizing: border-box;
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $tabs-part-back;
      transition: all 200ms linear;
    }

    //选中项
    &.tag-active {
      //height: $tabs-part_height + 1px;
      font-weight: normal;
      z-index: 1;
      &::before {
        background: $tabs-part-back_active;
      }
      .el-tag {
        color: $tabs-part-color_active;
        .el-tag-contnet {
          border-right: none;
        }
      }

      .tab-tag-mask {
        &::before {
          background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) 85%,
              $tabs-part-back_active 95%,
              $tabs-part-back_active 100%
          );
        }
      }
    }

    .el-tag {
      display: flex; /*Flex布局*/
      align-items: center; /*指定垂直居中*/
      width: 100%;
      height: $tabs-part_height;
      line-height: $tabs-part_height + 2px;
      padding: 0;
      color: $tabs-part_color;
      border-radius: 0;
      border: none;
      background-color: transparent;
      transform: translateZ(1px);

      .el-tag-contnet {
        width: 100%;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        //background: red;
        border-right: 1px solid rgba(218, 219, 225, 1);
        box-sizing: border-box;
        overflow: hidden;
        img {
          vertical-align: 0.05em;
          width: $tabs-icon-img_width;
          height: $tabs-icon-img_height;
          margin: 0 2px -2px 0;
        }
        //tab 页签 文字大小
        .el-tag-text {
          font-size: $NEAP-tabs__font-size;
          color: $NEAP-tabs__text-color;
        }
      }

    }
    //tag 遮罩渐变
    .tab-tag-mask {
      &::before {
        content: '';
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 85%,
            $tabs-part-back 95%,
            $tabs-part-back 100%
        );
      }
    }

    //tag 关闭按钮图标
    i.el-icon-close {
      position: absolute;
      color: #333;
      right: $tabs-icon-close_width/2 + 2px;
      top: ($tabs-part_height - $tabs-icon-close_height)/2 + 1px;
      width: $tabs-icon-close_width;
      height: $tabs-icon-close_height;
      line-height: $tabs-icon-close_height;
      font-weight: 600;
      visibility: hidden;
    }

    &:hover {
      i.el-icon-close {
        visibility: visible;
        font-weight: bolder;
        background-color: transparent;
      }
      .tab-tag-mask {
        width: 30px;
        &::before {
          background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) 70%,
              $--wrapper-background-color 80%,
              $--wrapper-background-color 100%
          );
        }
      }

      &::before {
        background: $tabs-part-back_hover;
      }
    }
  }

  .operate-slot {
    float: right;
    height: 100%;
    line-height: $NEAP-tabs__height;
    cursor: pointer;
    .operate-slot-icon {
      color: $tabs-allClose_color;
      font-size: 1.2em;
      &:hover {
        color: $tabs-allClose-hover_color;
      }
    }
  }
}
