@import '../../public';

.search-modular {
  padding-bottom: 10px;
}

.search-conditions {
  position: absolute;
  z-index: 1000;
  width: 100%;
  min-height: 66px;
  border: 1px solid $container-border_color;
  background: #fff;
  box-sizing: border-box;
  .el-button--text {
    color: #606266;
  }
  .search-header {
    height: $search-top-height;
    padding: 16px 15px 16px 18px;
    .lineBlue {
      display: inline-block;
      width: 4px;
      height: 14px;
      margin-right: 3px;
      vertical-align: text-bottom;
      background: #0a7af8;
    }
    .el-button {
      width: 60px;
      margin-right: 10px;
    }
    .el-button+.el-button {
      margin: 0;
    }
    .search-title {
      font-weight: bold;
      font-size: 16px;
      line-height: $search-top-height;
      vertical-align: middle;
    }
    .line {
      width: 1px;
      height: 16px;
      margin: 0 10px;
      vertical-align: middle;
      background: #d8d8d8;
    }
    .save-btn {
      width: 60px;
      height: 32px;
      padding: 0;
      line-height: 32px;
      color: #333;
      background: #fff;
    }
    .is-disabled {
      border: 1px solid #e3e3e3;
      color: #666;
    }
    //已保存的筛选条件
    .filter-list {
      position: relative;
      box-sizing: border-box;
      height: 32px;
      font-size: 12px;
      > span {
        display: block;
        box-sizing: border-box;
        height: 100%;
        padding: 0 10px 0 15px;
        border: 1px solid #dcdfe6;
        border-radius: 3px;
      }
      .filter-name {
        min-width: 70px;
        line-height: 30px;
        //vertical-align: middle;
        color: #666;
      }
      i {
        line-height: 32px;
        vertical-align: top;
      }
      i.el-icon-error {
        color: #71767c;
      }
      i.el-icon-arrow-down {
        color: #666;
      }
      //已保存的筛选条件下拉列表
      ul {
        position: absolute;
        z-index: 1001;
        top: 42px;
        width: 200px;
        max-height: 256px;
        padding: 10px 0;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        background: #fff;
        li {
          height: 32px;
          padding: 0 16px;
          line-height: 32px;
          &:hover {
            background: #f4f4f4;
          }
          img {
            vertical-align: middle;
            &:nth-of-type(1) {
              margin-right: 10px;
            }
          }
        }
      }
      .overflow {
        overflow: scroll;
      }
      .filter-option-name {
        width: 116px;
        vertical-align: middle;
      }
    }
  }
  .mnemonic {
    padding-left: 24px;
  }
  .search-body {
    position: relative;
    width: calc(100% - 200px);
    min-height: 48px;
    .showMoreBtn {
      height: 32px;
      .el-button {
        padding: 9px 0;
        margin-right: 0;
      }
    }
    .search-option {
      margin: 0 16px 16px 0;
      .el-select__tags {
        height: 24px;
        .el-select__input {
          display: none;
        }
      }
    }
    .margin-right0 {
      margin-right: 0;
    }
    .border-none {
      border: none;
    }
  }
}
.saved-filter-list {
  margin-bottom: 30px;
}

.boxshadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

//弹框里的样式
.filter-name {
  .el-input {
    width: calc(100% - 110px);
  }
  //错误边框
  .error-border {
    .el-input__inner {
      border: 1px solid #f60 !important;
      border-radius: 3px;
    }
  }
}




.biz-search-conditions{
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1000;
  margin-bottom: 10px;
  padding: 0 18px;
  border: 1px solid $container-border_color;
  overflow: hidden;
  box-sizing: border-box;

  .search-body {
    width: 100%;
    .search-form{
      width: 100%;
      margin-bottom: 16px;
      .search-form-items{
        max-width: 1100px;
        .ns-form-item{
          padding-right: 10px;
        }
      }
      .search-operation{
        margin: 16px 0 0 10px;
        .el-button{
          margin-right: 0;
        }
      }
    }
  }
}
