@import './public.scss';
@import './common.scss';

//.win {
//  background-color: rgba(241, 242, 245, 1);
//}
//
//
//.ns-page-tabs {
//  background-color: rgba(230, 232, 237, 1);
//  border-bottom: none !important;
//  li.tab-tag .el-tag {
//    color: #333;
//  }
//  li.tab-tag.tag-active::before, .ns-page-tabs li.tab-tag:hover::before {
//    //background-color: rgba(241, 242, 245, 1);
//  }
//
//  li.tab-tag::before {
//    background-color: #e8e8e8;
//    border: none !important;
//  }
//}

