##############################
## Folders                  ##
##############################

/node_modules/
static/
/config/
/dist/
/build/
/main/
/injection/
/main/mock/_NEAP_MOCK_DATA/

##############################
## files                  ##
##############################

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npminstall.done.*
*.describe

*.editorconfig


.eslintrc.js
.stylelintrc.json
.postcssrc.*
*.prettierrc

*.eslintignore
*.prettierignore
*.stylelintignore
*.gitignore
*.npmignore

babel.config.js
*.babelrc

env.config.js
env.param.config.js

npmmenu.md
yarn.lock
index.html
pull.sh
favicon.ico

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln



