@import "../../../../style/mixins/mixins";

$tree__base--gap: 12px;

.biz-tree {
  width: 100%;
  height: 100%;
  padding-left: $tree__base--gap;
  padding-top: $tree__base--gap * 2 + 32px;
  padding-bottom: $tree__base--gap;
  box-sizing: border-box;

  @include scrollbarVisible();
  @include scrollbarStyle();

  //搜索框
  .el-autocomplete {
    width: calc(100% - #{$tree__base--gap});
    margin-top: -($tree__base--gap + 32px);
  }

  //树主体内容
  .tree-container {
    width: 100%;
    height: 100%;
    padding-right: $tree__base--gap;
    overflow: auto;
    box-sizing: border-box;

    //插槽-操作
    .slot-container {
      display: flex;
      align-items: center;
      .tree_node_img_more {
        font-size: 16px;
        width: 16px;
        height: 16px;
        line-height: 1;
        display: none;
        color: #c9cbcd;
      }

      //让图标居中
      .el-dropdown{
        line-height: 1;
      }

      &:hover {
        .tree_node_img_more {
          display: inline-block;
        }
      }

      .title-text {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }


  }
}

//插槽-操作下拉框
.el-dropdown-menu.tree-more-dropdown {
  padding-top: 10px;
  .el-dropdown-menu__item--divided {
    color: #999999;
  }
}

//popover - 弹出框
.el-popover.el-popper {
  text-align: center;
  .popover-handle {
    padding-top: 8px;
    margin: 0;
  }
}
