//登录页 - login style
.front {
  .login-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 100%;
    overflow: hidden;
    //background: url("../../assets/img/login/bg.png") 0 0 no-repeat;
  }
  //头部
  .login-header {
    position: relative;
    height: 78px;
    //左上角Logo
    .login-logo {
      position: absolute;
      width: 98px;
      height: 30px;
      left: 60px;
      top: 39px;
      background-size: 100% 100%;
      overflow: hidden;
    }
  }
  //尾部
  .login-footer {
    height: 49px;
    position: fixed;
    bottom: 0;
  }
  //内容区域
  .sign-in-box {
    background: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    /*width: 52%;*/
    /*height: 60%;*/
    /*min-height: 400px;*/
    width: 1000px;
    height: 560px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    //标题
    .sign-in-title {
      padding: 65px 0 40px 0;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 0;
      text-align: center;
    }

    //左边
    .sign-in-left {
      width: 44%;
      height: 100%;
      background-size: 100% 100%;
      //background: url("../../assets/img/login/loginBoxLeft.png") 0 0 no-repeat;

      //标题
      .sign-in-title {
        color: #2a3f52;
      }
    }

    //右边
    .sign-in-right {
      flex: 1;

      //标题
      .sign-in-title {
        color: #1D73FF;
      }

      //登录输入部分
      .sign-in-main {
        width: 70%;
        max-width: 400px;
        margin: auto;

        //表单部分
        .ns-form-item {
          margin-bottom: 16px !important;
        }

        //按钮
        .ns-button {
          font-size: 14px;
          font-weight: 500;
          height: 44px;
        }
      }
    }
  }
}
