//登录页 - login style
.front {
  .login-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 100%;
    overflow: hidden;
    //background: url("../../assets/img/login/bg.png") 0 0 no-repeat;
  }
  //头部
  .login-header {
    position: relative;
    height: 78px;
    //左上角Logo
    .login-logo {
      position: absolute;
      //background-size: 100% 100%;
      //width: 98px;
      height: 30px;
      left: 60px;
      top: 40px;
    }
  }
  //尾部
  .login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: #333;
    text-align: center;
  }

  //内容区域
  .sign-in-box {
    position: absolute;
    display: flex;

    width: 1000px;
    height: 560px;

    top: 50%;
    left: 50%;

    background: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);

    border-radius: 8px;
    overflow: hidden;

    z-index: 10;
    transform: translate(-50%, -50%);

    //标题
    .sign-in-title {
      letter-spacing: 0;
      text-align: center;
    }

    //左边区域部分（ 主要是图片 + 部分文字 )
    .sign-in-left {
      width: 44%;
      height: 100%;
      background-size: 100% 100%;
      //background: url("../../assets/img/login/loginBoxLeft.png") 0 0 no-repeat;

      //标题
      .sign-in-title {
        padding: 80px 0 40px 0;
        font-size: 32px;
        font-weight: 600;
        color: #333;
      }
    }

    //右边（ 登录输入 + 部分文字 )
    .sign-in-right {
      flex: 1;

      //标题
      .sign-in-title {
        padding: 80px 0 40px 0;
        font-size: 32px;
        font-weight: 600;
        color: #333;
      }

      //登录输入部分
      .sign-in-main {
        width: 100%;
        //表单部分
        .ns-form-item {
          margin-bottom: 16px !important;
        }

        //按钮
        .ns-button {
          font-size: 14px;
          font-weight: 500;
          height: 44px;
        }
      }
    }
  }
}
