//---------- base color ----------
$--color-text-primary: #333; //重要文字
$--color-text-regular: #666; //主力文字色系
$--color-text-secondary: #999; //辅助文字颜色
$--color-text-placeholder: #c8c8c8; //失效文字颜色
// $--color-text-supply: #e3e3e3; //补充色系
$--border-color: #ccc;
$--border-color-light: #ededed; //边框颜色-浅
$--border-color-lighter: #efefef; //边框颜色-更浅
$--border-extra-light: #f5f5f5; //边框颜色-极浅
$--background-color-base: #f5f5f5; //base background-color
$--color-white: #fff; //纯白
$--color-black: #000; //纯黑

//---------- base color ----------
$--color-primary: #0068B7;
$--color-primary-link: #409eff;
$--color-ns-form-hover: #33a1ff; //本项目中表单控件鼠标移入边框基础颜色 input / select
$--color-primary-light: #4097f9; //基础主色-浅色

//---------- theme color ----------
$--color-success: #16ca37;
$--color-warning: #ffae00;
$--color-danger: #ff5131;
$--color-info: #999;

//---------- dialog - 弹窗  ----------
$dialog-default_width: 650px; //基础默认宽度
$dialog-line_height: 24px; //基础默认行高
$dialog-padding_left: 32px; //左边间距留白
$dialog-padding_right: 32px; //右边间距留白
$dialog-padding_top: 10px; //右边间距留白
$dialog-padding_bottom: 24px; //右边间距留白
$dialog-body_max_height: 550px; //body内容实际部分最大高度
$dialog-body_min_height: 350px; //body内容实际部分最小高度

//---------- layout - 布局  ----------
$min-window_width: 1280px; //最小窗口宽度
$min-window_height: 600px; //最小窗口高度
$navL: 50px; //左侧导航栏宽度
$tabs: 38px; //历史浏览标签卡高度
$navH: 50px; //顶部导航高度
$navH_p: 36px; //顶部导航下拉菜单，各个部分高度
$navH_pl: 0px; //顶部导航左 padding
$navH_pr: 15px; //顶部导航右 padding

//---------- form - 表单 -------------
$form-main_gapB: 16px;

//---- 右侧窗口悬浮显示 上下左右 空隙值 ----
$win_gapT: 10px;
$win_gapB: 0px;
$win_gapL: 10px;
$win_gapR: 10px;
//win 内边距
$win_pt: 0px;
$win_pb: 0px;
$win_pl: 0px;
$win_pr: 0px;

//---- 内容部分 ----
$head-module_back: #163c8f; //头部模块背景颜色
$logo-top_back: #113174; //左上角logo背景颜色

$app-main_back__white: #fff; //工作台主背景颜色 - 白色
$app-main_back__gray: #f4f6f9; //工作台主背景颜色 - 灰色

$container-border_color: #e8e8e8; //container 内容模块划分边框线

//---------- 页面标签选项卡模块 ----------
$tabs-height: 38px; //tabs模块 高度
$tabs-back: #e8e8e8; //tabs模块 背景颜色  --  较深的灰色
$tabs-allClose_color: #999; //tabs模块 关闭所有 背景颜色
$tabs-allClose-hover_color: #333; //tabs模块 关闭所有 鼠标移入背景颜色

//tabs 单个标签页
$tabs-part_width: 120px; //tabs 单个标签页宽度
$tabs-part_height: 30px; //tabs 单个标签页高度

$tabs-part-back: #dcdee1; //tabs模块 背景颜色
$tabs-part-back_active: #fff; //tabs模块 选中项背景颜色
$tabs-part-back_hover: #fff; //tabs 鼠标移入背景颜色
$tabs-part-border_color: #d4d6d8; //tabs模块 边框色
$tabs-part-border-active_color: #d5d5d5; //tabs模块 选中项边框色
$tabs-part-icon-close_color: #666; //tabs模块 单个关闭图标颜色

$tabs-part_color: $--color-text-primary; //tabs模块  --  较浅的灰色
$tabs-part-color_active: $--color-black; //tabs模块 选中项字体颜色  --  较深的灰色

$tabs-icon-img_width: 12px; //tabs 标签页左侧图标宽度
$tabs-icon-img_height: 12px; //tabs 标签页左侧图标高度

$tabs-icon-close_width: 12px; //tabs 标签页右侧关闭图标宽度
$tabs-icon-close_height: 12px; //tabs 标签页右侧关闭图标宽度

//---------- 删选器模块 ----------
$search-top-height: 36px; //删选器顶部高度

//---------- 筛选器，分页模块，表格表头背景色 ----------
$modules__decorate--back: #ebedef;
