//element ui style cover
@import '../var';
@import "theme-cover";
@import "dialog";
@import "dropdown";
@import "form";
@import "loading";
@import "notice";
@import "pagination";
@import "popover";
@import "table";
@import "tabs";
@import "new-table";
@import "tree";




//todo 后续要删除
//筛选器背景
.search-modular, .arm-search-modular {
  background-color: $--wrapper-background-color !important;
  .search-conditions {
    background-color: $--wrapper-background-color !important;

     //业户 新增按钮
    .role-button-area{
      .el-button--text.ns-button{
        padding: 10px 15px;
        color: #FFF;
        border-color: $--color-primary;
        background-color: $--color-primary;
        margin-right: 10px;

        &:hover{
          background: $--color-primary-hover;
          border-color: $--color-primary-hover;
          color: #FFF;
        }

        span, svg{
          color:  #FFF;
        }

      }
    }
  }
}



