//element ui style cover
@import '../var';
@import "theme-cover";
@import "dialog";
@import "dropdown";
@import "form";
@import "loading";
@import "notice";
@import "pagination";
@import "popover";
@import "table";
@import "tabs";
@import "new-table";

//.arm-search-modular .search-conditions {
//  background-color: $--wrapper-background-color !important;
//}
