@import '../../style/mixins/index';

//右侧  转换 内容窗口
.win {
  height: 100%;
  padding: $win_pt $win_pr $win_pb $win_pl;
  box-sizing: border-box;

  & > .ns-container {
    height: 100%;
  }

  //container
  .ns-container {

    //left of container (tree)
    .ns-container-left {
      width: 210px;
      border: 1px solid;
      border-color: $--container-border-color; //#e6e8ee
      background: $--container-left-background-color;
      box-sizing: border-box;
      margin-right: 10px;
    }

    //right of container (grid + search)
    .ns-container-right {
      position: relative;
      flex: 1;
      flex-basis: auto;
      background: $--container-right-background-color;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
}
