@import './var';

html,
body {
  height: 100%;
  min-height: 100%;
  #app {
    height: inherit;
    min-width: $min-window_width;
    min-height: $min-window_height;
    font-size: 13px;
  }
}

/*布局*/
#layout.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @import "wrapper";

  //侧边导航展开/折叠 - 位置与动画
  &:not(.is-portal){
    &.is-collapse {
      #page-tabs-wrapper, #main-container {
        left: 50px;
        transition: all 300ms ease;
      }
    }
    &.is-expand {
      #page-tabs-wrapper, #main-container {
        left: 120px;
        transition: all 300ms ease;
      }
    }
  }


  .head-logo {
    height: 50px;
    //width: 150px;
    padding: 11px 12px;
    box-sizing: border-box;
    img {
      //width: 100%;
      height: 100%;
    }
  }

  //在嵌套模式下，去掉头，侧边栏，tab页面，内容部分全屏撑开
  &.is-hide-frame {
    #header-wrapper,
    #side-menu-wrapper,
    #page-tabs-wrapper {
      display: none;
    }
    #main-container {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      .app-main,
      .win,
      .ns-container,
      .ns-container-right,
      .ns-container-left {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  //在多系统门户模式下，去掉侧边栏，tab页面
  &.is-portal {
    #side-menu-wrapper,
    #page-tabs-wrapper {
      display: none;
    }

    #main-container {
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      .app-main,
      .win,
      .ns-container,
      .ns-container-right,
      .ns-container-left {
        height: 100%;
        min-height: 100%;
      }
    }
  }


}
