@import '../../style/var/index';

html,
body {
  height: 100%;
  min-height: 100%;
  #app {
    height: inherit;
    min-width: $NEAP-window__minWidth; //最小窗口宽度
    min-height: $NEAP-window__minHeight; //最小窗口高度
    font-size: 14px;
  }
}

//布局嵌套容器 - flex布局
.ns-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 0px !important;
  flex-basis: auto;
  min-width: 0;
  box-sizing: border-box;
  &.is-vertical {
    flex-direction: column; //弹性盒元素 - 灵活的项目将垂直显示，正如一个列一样,这边用于上下布局，而非左右
  }
}

///*布局*/
#layout {
  height: 100%;
  padding-top: $NEAP-header__height;
  box-sizing: border-box;
  overflow: hidden;
  & > .ns-container {
    height: 100%;
  }

  @import "./wrapper";

  //侧边导航展开/折叠 - 位置与动画
  &:not(.is-portal) {
    &.is-collapse {
      .ns-header-logo {
        width: $NEAP-side-menu__width--collapse;
        transition: all 300ms ease-in-out;
      }
    }
    &.is-expand {
      .ns-header-logo {
        width: $NEAP-side-menu__width--expand;
        transition: all 300ms ease-in-out;
      }
    }
  }

  //在嵌套模式下，去掉头，侧边栏，tab页面，内容部分全屏撑开
  &.is-hide-frame {
    padding-top: 0;
    #header-wrapper,
    #side-menu-wrapper,
    #page-tabs-wrapper {
      display: none;
    }
  }

  //在多系统门户模式下，去掉侧边栏，tab页面
  &.is-portal {
    #side-menu-wrapper,
    #page-tabs-wrapper {
      display: none;
    }
  }
}
