//布局
#layout {
  .head-logo {
    height: 50px;
    //width: 150px;
    padding: 11px 12px;
    box-sizing: border-box;
    img {
      //width: 100%;
      height: 100%;
    }
  }

  //在嵌套模式下，去掉头，侧边栏，tab页面，内容部分全屏撑开
  &.is-hide-frame {
    #header-wrapper,
    #sidebar-wrapper,
    #page-tabs-wrapper {
      display: none;
    }
    .main-container {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      .app-main,
      .win,
      .ns-container,
      .ns-container-right,
      .ns-container-left {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  //在多系统门户模式下，去掉侧边栏，tab页面
  &.is-portal {
    #sidebar-wrapper,
    #page-tabs-wrapper {
      display: none;
    }

    .main-container {
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      .app-main,
      .win,
      .ns-container,
      .ns-container-right,
      .ns-container-left {
        height: 100%;
        min-height: 100%;
      }
    }
  }

}
