@import '../../style/var';
@import '../../style/mixins';

/* ------------  顶部模块 ------------  */
#header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2000;


  .ns-header {
    width: 100%;
    min-width: 500px;
    height: $NEAP-header__height;
    line-height: $NEAP-header__height;
    padding-left: $NEAP-header__padding--left;
    padding-right: $NEAP-header__padding--right;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(215, 215, 215, 0.4);
    @include transition__changeTheme();

    .ns-header__module {
      height: inherit;
      line-height: inherit;
      margin-right: $NEAP-module__margin;
      padding: 0 $NEAP-module__padding;
      cursor: pointer;

      i.ns-header__text, svg.ns-header__text {
        padding: 0;
      }

      &:hover {
        i.ns-header__text, svg.ns-header__text {
          transform: scale(1.1, 1.1);
          font-weight: normal;
        }
        .ns-header__text {
          font-weight: bold;
        }
      }

      &.hover {
        &:hover {
          background: rgba(0, 0, 0, .1);
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    //头部 - 图标 - svg
    svg.ns-header__text {
      fill: $NEAP-header__color;
    }

    //头部 - 文字
    .ns-header__text {
      color: $NEAP-header__color;
    }

    //头部 - 分割线
    .ns-header__line {
      border-color: rgba(101, 104, 130, 0.1);
    }

    &.is-banner {
      background-color: var(--themeColor);
      //头部 - 分割线
      .ns-header__line {
        border-color: rgba(255, 255, 255, 0.1);
      }
      //头部 - 文字
      .ns-header__text {
        color: #fff;
      }
      //头部 - 图标 - svg
      svg.ns-header__text {
        fill: #fff;
      }

    }
  }
}

/* ------------ 左侧导航栏模块 ------------*/
#side-menu-wrapper {
  position: absolute;
  top: $NEAP-header__height;
  bottom: 0;
  left: 0;
  z-index: 2000;

  //这里需要注释掉
  //&:hover {
  //  z-index: 9999;
  //}
}

#page-tabs-wrapper {
  position: absolute;
  top: $NEAP-header__height;
  right: 0;
  z-index: 1999;
}

/* ------------ 内容 模块 ------------ */
#main-wrapper {
  position: absolute;
  top: $NEAP-header__height + $NEAP-tabs__height;
  bottom: 1px;
  right: 0;
  padding: $container_gapT $container_gapR $container_gapB $container_gapL;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  transition: all, 0.4s, linear;
  background-color: $--wrapper-background-color;

  @import "./container";
}
