@import '../../style/var';
@import '../../style/mixins';

/* ------------  顶部模块 ------------  */
#header-wrapper {
  position: absolute;
  width: 100%;
  z-index: 2000;
  background-color: var(--themeColor);
  @include changeTheme();

  .ns-header {
    width: 100%;
    min-width: 500px;
    height: $navH;
    line-height: $navH;
    padding-left: $navH_pl;
    padding-right: $navH_pr;
    box-sizing: border-box;
    img {
      display: block;
    }
    svg {
      fill: #fff;
    }
  }
}

/* ------------ 左侧导航栏模块 ------------*/
#side-menu-wrapper {
  position: absolute;
  top: $navH;
  bottom: 0;
  left: 0;
  z-index: 9999;

  //这里需要注释掉
  //&:hover {
  //  z-index: 9999;
  //}
}

#page-tabs-wrapper {
  position: absolute;
  top: $navH;
  right: 0;
  z-index: 1999;
}

/* ------------ 内容 模块 ------------ */
#main-wrapper {
  position: absolute;
  top: $navH + $tabs;
  bottom: 1px;
  right: 0;
  padding: $container_gapT $container_gapR $container_gapB $container_gapL;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  transition: all, 0.4s, linear;
  background-color: $--wrapper-background-color;

  @import "./container";
}
