//==========================form================================

//调整时间，日期选择器 前置图标上下定位问题
.ns-date-picker,
.ns-time-picker,
.ns-onlyMMDD-picker {
  .el-input__icon {
    height: auto;
  }
}

/* input */
.el-input__inner {
  padding: 0 8px;
  border: 1px solid $--border-color;
}
.el-input__inner, .el-textarea__inner{
    &::-webkit-input-placeholder {/* WebKit browsers */
        color: $--color-text-secondary;
    }
    &:-moz-placeholder {/* Mozilla Firefox 4 to 18 */
        color: $--color-text-secondary;
    }
    &::-moz-placeholder {/* Mozilla Firefox 19+ */
        color: $--color-text-secondary;
    }
    &:-ms-input-placeholder {/* Internet Explorer 10+ */
        color: $--color-text-secondary;
    }
    &:hover{
        border-color: $--color-primary;
    }
}
.el-textarea.is-disabled .el-textarea__inner,.el-input.is-disabled .el-input__inner{
    background-color: #eff2f4;
    border-color: #e5eaed;
}
/* textarea */
.el-textarea__inner {
  resize: none;
  border: 1px solid $--border-color;
}
/*radio*/
.el-radio__input.is-checked .el-radio__inner::after {
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.el-radio__input.is-checked.is-disabled .el-radio__inner::after {
  cursor: not-allowed;
  background-color: $--color-text-placeholder;
  box-shadow: none;
  border: none;
}

.el-radio:focus:not(.is-focus):not(:active) .el-radio__inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.el-radio__inner::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $--color-primary;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  box-shadow: none;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}

.el-radio__input.is-checked .el-radio__inner {
  background-color: $--color-white;
}

/*checkbox*/
.el-checkbox__inner {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid $--color-text-secondary;
}

.el-checkbox__inner::after {
  top: 1px;
  left: 4px;
}

.el-checkbox-button__inner {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  border: 1px solid #979797;
  border-radius: 3px;
  color: $--color-text-regular;
  min-width: 88px;
  transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    color: $--color-primary;
    border-color: $--color-primary;
  }
}

.el-checkbox-button:first-child .el-checkbox-button__inner {
  border-left: 1px solid #979797;
  box-shadow: none;
  &:hover {
    border-color: $--color-primary;
  }
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: $--color-primary !important;
  border-color: $--color-primary !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background: url(../assets/img/chioce-ys.png) right bottom no-repeat;
  background-size: 19px 19px;
  border-radius: 4px;
}


.el-radio-button{
  &:focus:not(.is-focus):not(:active):not(.is-disabled){
    box-shadow: none;
  }
  &.is-active{
    .el-radio-button__inner{
      color: #0d315d !important;
      border-color: #0d315d !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAatJREFUWAnFl79Lw0AUx7/vYhf/EVcHJ1ehVVAoBUUQxUlrFkFw1j9AEJSWOggKgjiIbrUFF0dx9T/oLE7+QNrzXU1oza9emuRyQ5IX7t7n816OkAB5Drt5SLnxGY4eDvIRcOCqePMCQ3DzAh64WYEAuDmBELgZgQh49gIj4NkKaMCzE9CEZyMQA56+QEx4ugJjwNMTGBOejkACeHKBhPBkAinAlYClDrFHXDjhG5a1AshJZk0N88RwoHUdFw76AlEZteIdBF15GRPeG5FxOLzL6/zdJHyCRBn1Yht2s4IufAL6HQiDEzVQoFmu8t0j/wFhLfXhO81lSLrhR1DwzIGeQBhcZSO84nT+mTPNcfDmABhOi9z2R1Rbq5C4hpSB3R79TRgFH5Szi8bCCez2NGT3HkJsoFZ6gt1aQ693ydP8j8dZGy2gB/9LJcQe6qVjnL0UsD3zg+rDOkhecPWRXQ4XiAN3OyHEPksc8YbbZPD5KLhaFiwwDtyVILplcIU3XHBud55z9k9KAvck1wn/CxiGK8GBQA7wgUBOcBboEO/Y/l+qsjE8Ovya3voFVcKkDH7l5koAAAAASUVORK5CYII=) right bottom no-repeat;
      background-size: 19px 19px;
      border-radius: 4px;
    }
  }

  &:first-of-type{
    .el-radio-button__inner{
      border: 1px solid #bebebe;
      border-radius: 4px;
    }
  }
  &:last-child {
    .el-radio-button__inner{
      border-radius: 4px;
    }
  }

  .el-radio-button__inner{
    margin-right: 10px;
    min-width: 88px;
    padding: 8px 15px;
    font-size: 12px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    transition-duration: 0s;
  }
}

//switch

.el-switch__core:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 100%;
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.el-switch.is-checked .el-switch__core:after {
  left: 100%;
  margin-left: -17px;
}

//穿梭框

.el-transfer-panel__filter .el-input__inner {
  border-radius: 3px;
}

.el-button--primary.el-transfer__button {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  padding: 0px;
}

.el-transfer-panel__item:hover {
  background: $--background-color-base;
}

.el-form-item {
  margin: 16px 0 0 0 !important;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: $--border-color;
}
.ns-form .ns-form-item.el-form-item.cue-only-error.is-error .el-input__inner,
.ns-form .ns-form-item.el-form-item.cue-only-error.is-error .el-textarea__inner,
.ns-form .ns-form-item.el-form-item.cue-only-error.is-error .form-element__pseudo::after,
.ns-form .ns-form-item.el-form-item.cue-only-error.is-error .form-element__pseudo::before{
    border-color: $--color-danger;
}

//带tag的select样式 平衡边框颜色
.ns-input-tag{
    &:hover::after{
        border: 1px solid #999;
        border-left: none;
    }
    &:after{
        border: 1px solid $--border-color;
        border-left: none;
    }
    //点击后右侧图标区域边框色
    &.is-focus{
		&:after, .el-select .el-input .el-input__inner{
             border-color: #0d315d ;
		}
		&.is-hover .el-select .el-input .el-input__inner{
            border-color: #409eff;
        }
    }
}

//下拉框删除tag按钮颜色
.el-select .el-tag__close.el-icon-close, .el-tag.el-tag--info .el-tag__close{
    color: #fff;
}
