/*Tabs*/
.el-tabs__item.is-active {
  color: $--color-primary !important;
  font-weight: bold;
}
//箭头背景色
.el-tabs.arrowTabs .el-tabs__item.is-active{
  background: $--color-primary !important;
  &:not(:first-of-type):before{
    border-top-color: $--color-primary !important;
    border-bottom-color: $--color-primary !important;
  }
  &:not(:last-of-type):after{
    border-left-color: $--color-primary !important;
  }
}
