$--wrapper-background-color: #f0f2f5; //工作台背景色 rgb(247, 248, 251)
$--tabs-background-color: #EAECF3; //tabs条 背景颜色  --  较深的灰色
$--tabs-tag-background-color: #EAECF3; //tabs - tag 模块 背景颜色

$--container-left-background-color: #fff; //工作台 - 左边容器 - 背景色
$--container-right-background-color: #fff; //工作台 - 左边容器 - 背景色

$--container-border-color: #e6e8ee; //工作台 - 容器 - 模块划分边框线

$NEAP-header__color: #505367; //顶部文字/图标颜色 #656882
$NEAP-tabs__text-color: #505367; //tab页文字颜色
