.dialog_table_class .ns-pagination {
  bottom: -27px;
}
.log-title {
  font-size: 16px;
  width: 200px;
  display: inline-block;
}
.log-tip {
  color: #666;
  width: 250px;
  display: inline-block;
}
.log-detail {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
.log-detail .txt {
  margin-right: 30px;
}
.log-detail-button {
  margin-top: 10px;
}
.log-detail-button .ns-upload.ns-upload--otherFileList {
  display: inline-block;
}
.form_title {
  font-size: 20px;
  margin-top: 10px;
}

// 上传文件预览
.file_upload_list {
  margin-top: 10px;
  .file_upload_display {
    .file_upload_item {
      padding: 5px 10px;
      line-height: 14px;
      height: 16px;
      margin: 5px 0;
      background: #f5f5f5;
      border-radius: 5px;
      display: inline-block;
      .file_download_item {
        color: #999;
        font-size: 14px;
        margin-right: 10px;
        vertical-align: middle;
        cursor: pointer;
      }
      .btn_remove {
        display: none;
        font-size: 18px;
        color: #666;
        vertical-align: middle;
        cursor: pointer;
      }
      &:hover {
        .btn_remove {
          display: inline-block;
        }
      }
    }
  }
}