@import "scrollbar";
@import "transition";

@mixin clearFloat {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:after,
  &:before {
    display: table;
    content: '';
  }
}

@mixin setMockBlockByBatch($baseName, $start, $end) {
  $class-slug: $baseName !default;
  @for $i from $start to $end {
    &.#{$class-slug}-#{$i} {
      .el-form-item__error {
        margin-left: $i + px;
      }
    }
  }
}
