@import "../../../../../style/mixins";
@import "../../../../../style/var";
@import "var";
@import "active";

@mixin menuItemStyle() {
  min-width: $NEAP-side-menu__width--collapse;
  height: $side-menu-item__height;
  line-height: $side-menu-item__height;
  padding: 0 !important;
  .ns-menu-item__content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: var(--backgroundColorHover);
      svg.ns-icon-svg, span {
        color: var(--themeColor);
      }
    }

    svg.ns-icon-svg {
      width: 14px;
      height: 14px;
      padding: 0;
      color: var(--textColor);
      @include transition__changeTheme();
    }
    span {
      padding-left: 10px;
      color: var(--textColor);
      @include transition__changeTheme();
    }
  }
}

.ns-side-menu {

  width: $NEAP-side-menu__width--expand;
  height: calc(100% - 40px);

  overflow-y: auto;
  overflow-x: hidden;
  border: none;

  //transition: width 200ms ease-in-out !important;

  /*animation-delay: 2s;*/

  &.el-menu--collapse {
    width: $NEAP-side-menu__width--collapse;
    //transition: width 200ms ease-in-out !important;

    li.el-submenu, li.el-menu-item {
      span, i.el-submenu__icon-arrow {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    .ns-sub-menu {
      li.el-submenu, li.el-menu-item {
        span, i.el-submenu__icon-arrow {
          display: inline;
          visibility: visible;
        }
      }
      p.ns-menu-group__title {
        display: block;
      }
    }

  }

  p.ns-menu-group__title {
    display: none;
  }

  .el-menu-item, .el-submenu__title {
    background-color: transparent !important;
  }
  .el-menu-item {
    @include menuItemStyle();
  }

}

.ns-sub-menu {
  font-size: 14px;

  .el-menu-item, .el-submenu__title {
    background-color: transparent !important;
  }

  //菜单项
  .el-submenu__title, .el-menu-item {
    @include menuItemStyle()
  }

}

.ns-sub-menu {
  .el-menu.el-menu--popup {
    margin: 0 3px;
    border-radius: 5px;

    p.ns-menu-group__title {
      display: block;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      color: var(--groupTitle);
    }
    .ns-menu-group__content {
      max-height: calc(100vh - 110px);
      overflow-y: auto;

      //@include scrollbarVisibleHover();

    }
  }
}
